{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <link href="{% static 'styles/bootstrap_theme/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/blocks.css' %}">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>         
        <link rel="stylesheet" href="{% static 'styles/info/class_journal.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/loading-button.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/uno_class.css' %}">
        <script src="{% static 'styles/info/journal.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/info/cool-button.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/nice-butt-on.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/teacher_list.css' %}">
        <title>Список учителей</title>         
    </head>     
    <body class="text-muted">
        <main class="bg-light" style="display: flex;"> 
            <div class="container"> 
                <div class="list_table"> 
                    <div class="scroll-table"> 
                        <div class="class"> 
                            <div class="search-engine"> 
                                <div class="mb-3"> 
                                    <label for="formDatalists64" class="form-label">Список групп и учащихся</label>
                                    <div class="contain">
                                        <input class="form-control search-input" list="datalistOptions" id="formDatalists64" placeholder="Напишите имя учащегося или номер группы...">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">Режим поиска</button>
                                        <div class="dropdown">
                                            <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                                <li>
                                                    <a class="dropdown-item" href="#" data-mode="groups">Группы</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" data-mode="students">Учащиеся</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <script>
                                            $(document).ready(function() {
                                                $('.dropdown-item').click(function() {
                                                    var selectedMode = $(this).data('mode');
                                                    if (selectedMode === 'groups') {
                                                        $('#students-info').hide();
                                                        $('#groups-info').show();
                                                    } else if (selectedMode === 'students') {
                                                        $('#groups-info').hide();
                                                        $('#students-info').show();
                                                    }
                                                    $('#dropdown1').text($(this).text());
                                                });
                                            });
                                        </script>
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                        <div class="scroll-table-body" id = "students-info" style="display: none;">
                            <table> 
                                <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td><a href="{% url 'student-info' student.id %}">{{ student.fio }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>                                 
                            </table>                             
                        </div>

                        <div class="scroll-table-body" id = "groups-info" style="display: none;">
                            <table>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td><a href="{% url 'group-info' group.id %}">{{ group.number }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>                     
                </div>                 
            </div>             
        </main>         
{#        <script src="{% static 'styles/assets/js/popper.min.js' %}"></script>#}
{#        <script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>#}
{#        <script src="{% static 'styles/fc/packages/moment/index.global.min.js' %}"></script>#}
{#        <script src="{% static 'styles/fc/packages' %}"></script>#}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var input = document.getElementById("formDatalists64");
        input.addEventListener("input", function() {
            var filter = input.value.toLowerCase();
            var teacherRows = document.querySelectorAll(".scroll-table-body table tbody tr");

            teacherRows.forEach(function(row) {
                var teacherName = row.querySelector("td").textContent.toLowerCase();

                if (teacherName.includes(filter)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>
    </body>     
</html>
{% endblock %}