{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <link href="{% static 'styles/bootstrap_theme/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/blocks.css' %}">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>         
        <link rel="stylesheet" href="{% static 'styles/info/class_journal.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/loading-button.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/loading-button.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/uno_class.css' %}">
        <script src="{% static 'styles/info/journal.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/info/cool-button.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/nice-butt-on.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/teacher_list.css' %}">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>Создать группу</title>         
    </head>     
    <body class="text-muted">
        <main class="bg-light" style="display: flex;"> 
            <div class="container"> 
                <div class="list_table"> 
                    <div class="scroll-table">
                        <div class="class">    
                                    <div class="mb-3"> 
                                        <div for="formDatalists64" class="form-label" style=" text-align: center;
                                        margin: 5%;
                                        font-size: 2.5rem;">Группа №<input type="text"/></div>                                         
                                    </div>
                        </div>                         
                        <div class="scroll-table-body">
                            <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <a href="" class="border-button" name="add">Добавить ученика</a>  
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>                         
                    </div>   
                    
                    <div class="info">
                        <table class="sdc" style="width: 100%; margin-bottom: 15%; margin-top: 5%;">
                            <tbody>
                                <tr >
                                    <th style="text-align: left; border: none;">Преподаватель:</th>
                                    <th name="name" style="text-align: right; border: none;"><input type="text"/></th>
                                </tr>
                                <tr>
                                    <th style="text-align: left; border: none;">Отделение:</th>
                                    <th name="department" style="text-align: right; border: none;"><input type="text"/></th>
                                </tr>
                                <tr>
                                    <th style="text-align: left; border: none;">Предмет:</th>
                                    <th name="instrument" style="text-align: right; border: none;"><input type="text"/></th>
                                </tr>
                                <tr>
                                    <td colspan="2"  style="border: none;">
                                        <a href="" class="border-button" name="done">Создать группу</a>  
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                 
            </div>             
        </main>         
        <script src="{% static 'styles/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages/moment/index.global.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages' %}"></script>
    </body>     
</html>
{% endblock %}