{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content="">
        <link href="{% static 'styles/bootstrap_theme/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/blocks.css' %}">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/info/switch.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/loading-button.css' %}">
    </head>
    <body>
        <main>
            <div class="switcher">
                <div class="switch-col">
                    <a href="{% url 'create-student' %}" class="border-button" name="create-student">Создать учащегося</a>
                    <a href="{% url 'create-group' %}" class="border-button" name="create-group">Создать группу</a>
                    <a href="{% url 'create-teacher' %}" class="border-button" name="create-teacher">Создать учителя</a>
                </div>
            </div>
        </main>
        <script src="{% static 'styles/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages/moment/index.global.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages' %}"></script>
    </body>
</html>
{% endblock content %}