{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en"> 
    <head>
        <link rel="stylesheet" href="{% static 'styles/blocks.css' %}">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/piano-style.css' %}">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>         
        <link rel="stylesheet" href="{% static 'styles/fc/style.css' %}">
        <script src="{% static 'styles/js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/info/teacher_page.css' %}">
        <link rel="stylesheet" href="{% static 'styles/info/loading-button.css' %}">
        <script>
            document.addEventListener('DOMContentLoaded', function() {
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ru',
                initialView: 'dayGridMonth',
                firstDay: 1,
              });
              calendar.render();
            });
      
          </script>         
        <title>Информация об учащемся</title>         
    </head>     
    <body class="text-muted">
        <main style="color: black;"> 
            <section class=" main-content cbg-light pb-5 pt-5"> 
                <div class="row"> 
                    <div class="messages"> 
                        <div class=" table-container align-middle table-responsive text-center bg-light"> 
                            <div class="scroll-table"> 
                                <table> 
                                    <thead> 
                                        <tr> 
                                            <th class="display-3 fw-bold mb-3"><h4>Сообщения от администрации</h4></th> 
                                        </tr>                                         
                                    </thead>                                     
                                </table>                                 
                                <div class="scroll-table-body"> 
                                    <table> 
                                        <tbody>
                                        {% for msg in messages %}
                                            <tr> 
                                                <td>{{ msg.body }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>                                         
                                    </table>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                        <div class="great-calendar"> 
                            <section class="calal bg-secondary pb-3 pt-3 text-center text-lg-start text-white"> 
                                <div class="container pb-3 pt-3"> 
                                    <div id="calendar"></div>                                     
                                </div>                                 
                            </section>                             
                        </div>                         
                        <div class="students-buttons"> <a href="" class="border-button" name="individual-plan">Профориентированные</a> <a href="" class="border-button" name="individual-plan">Одарённые</a> <a href="" class="border-button" name="individual-plan">Коллективный договор</a> 
                        </div>                         
                    </div>                     
                    <div class="booking"> 
                        <div class="docs"> <a href="{{ passport.file_upload.url }}" class="border-button" name="individual-plan">Методический паспорт</a> <a href="" class="border-button" name="individual-plan">Взаимопосещаемость</a> <a href="" class="border-button" name="individual-plan">Журнал</a>
                        </div>                         
                        <div class="booking-content"> 
                            <div class="booking-header">Забронировать зал</div>                             
                            <div class="radio-buttons">                                                                   
</div>                             
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group"> 
                                <input type="radio" class="btn-check" name="btnradio" id="groupradio1" autocomplete="off" checked> 
                                <label class="btn btn-outline-primary" for="groupradio1">Малый зал</label>                                 

                                <input type="radio" class="btn-check" name="btnradio" id="groupradio2" autocomplete="off"> 
                                <label class="btn btn-outline-primary" for="groupradio2">Большой зал</label>                                 

                                <input type="radio" class="btn-check" name="btnradio" id="groupradio3" autocomplete="off">                                  
                            </div>
                            <div class="free-dates"> 
                                <input type="text"> 
                                <div class="dropdown"> 
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> 
                                        Время
</button>                                     
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"> 
                                        <li>
                                            <a class="dropdown-item" href="#">14:00</a>
                                        </li>                                         
                                        <li>
                                            <a class="dropdown-item" href="#">15:00</a>
                                        </li>                                         
                                        <li>
                                            <a class="dropdown-item" href="#">16:00</a>
                                        </li>                                         
                                    </ul>                                     
                                </div>                                 
                            </div>                             <a href="" style="padding: 3%; width: 100%;" class="border-button" name="individual-plan">Забронировать</a> 
                        </div>                         
                        <div class="general-bu qttons"> <a href="" class="border-button" name="individual-plan">Общее расписание</a> <a href="{% url 'contingent' %}" class="border-button" name="individual-plan">Контингент</a>
                        </div>                         
                    </div>                     
                </div>                 
            </section>             
        </main>         
        <script src="{% static 'styles/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages/moment/index.global.min.js' %}"></script>
        <script src="{% static 'styles/fc/packages' %}"></script>
    </body>     
</html>
{% endblock content %}